* {
    margin: 0;
    padding: 0;
}

.debug {

    * {
        box-sizing: border-box;
        border: 1px dashed black;
    }

    .top {
        background-color: royalblue;
        height: 3rem;
    }

    .left {
        background-color: yellow;
        height: 100%
    }

    .right {
        background-color: red;
        height: 100%;
    }

    .card {
        background-color: greenyellow;

    }

    .card-info {
        background-color: green;
    }
}

/* colors */
:root {
    --band-top-height: 100px;
    --band-darker: #222222;
    --band-dark: #2b2b2b;
    --band-dark-soft: #3c3c3c;
    --band-dark-softer: #464646;
    --band-lighter: white;
}

/* colors - end */

/* commons */
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

/* commons - end */

body {
    background-color: var(--band-darker);
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

nav {
    justify-content: space-between;
    height: ;
    a {
        color: var(--band-lighter);
    }
}

.top {
    nav, nav .left, nav .right {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.bottom {
    height: calc(100% - var(--band-top-height));
    display: flex;
    padding: 1rem 0;
    
    .left,
    .right {
        height: 100%;
    }

    .left {
        width: 70%;
        overflow-y: auto;
        scrollbar-width: thin;
        padding: 0 1rem;
        border-right: 1px solid var(--band-dark-softer);
        .album {
            gap: 1rem;
            display: flex;
            flex-wrap: wrap;
        }
    }

    .right {
        width: 30%;
    }
}


input {
    outline: none;
    border: none;
}

.search-box {
    background-color: var(--band-dark-softer);
    border-radius: 4px;
    font-size: 1rem;
    min-width: 300px;
    padding: 0.3rem 0.8rem;
    input {
        background-color: var(--band-dark-softer);
        padding-left: 1rem; 
    }
}
.dark {
    background-color: var(--band-dark);
    padding: 0.5rem 2rem;
}
.genres_filter {
    border-radius: 1rem;
    padding: 0.3rem;
    min-width: 300px;
    background-color: var(--band-dark-soft);
    border: 1px solid var(--band-dark-softer);  
    input {
    background-color: var(--band-dark-soft);
    padding-left: 1rem;
    }
}
.search-icon {
    color: grey;
}

.card {
    width: calc((100% - 3rem) / 4);
    
    .card-info {
        height: 30%;
        width: 100%;
        color: white;
        font-size: small;

        .truncate {
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        }

        .song-genre {
            color: var(--band-dark-softer);
        }
    }

}
