* {
    margin: 0;
    padding: 0;
}

.debug {
    
    * {
    box-sizing: border-box;
    border: 1px dashed black;
    }

    .wrapper {
        background-color: aqua;
    }
    header {
        background-color: royalblue;
        height: 6rem;
    }
    .header-top {
        background-color: purple;
        min-height: 50%; 
    }
    .header-bottom {
        background-color: blueviolet;
        height: 50%;
    }
    main {
        height: 400px;
    }
    .main-left {
        background-color: yellow;
        height: 100%
    }
    .aside-right {
        background-color: red;
        height: 100%;
    }
    .card {
        background-color: greenyellow;

    }
    .card-info {
        background-color: green;
    }
    
}

/* colors */
:root {
    --body_bg: rgba(34, 34, 34);
}

/* colors - end */

/* commons */
.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}

/* commons - end */

body {
    background-color: var(--body_bg);
}
.wrapper {
    height: 100vh;
    overflow: hidden;
}

.login-links {
    a {
        text-decoration: none;
        color: white;
    }
}

.search {
    padding-right: 3rem;
}

/* main */
.main-left {
    width: 65%;
    gap: 1rem;
    overflow-y: auto;
    img {
        width: 100%;
    }
}

.aside-right {
    width: 35%;
}
.card {
    width: calc(100% / 4);
}
.card-info {
    height: 30% ;
}