* {
    margin: 0;
    padding: 0;
}

.debug {

    * {
        box-sizing: border-box;
        border: 1px dashed black;
    }

    .top {
        background-color: royalblue;
        height: 6rem;
    }

    .left {
        background-color: yellow;
        height: 100%
    }

    .right {
        background-color: red;
        height: 100%;
    }

    .card {
        background-color: greenyellow;

    }

    .card-info {
        background-color: green;
    }
}

/* colors */
:root {
    --band-top-height: 112px;
    --band-darker: #222222;
    --band-dark: #2b2b2b;
    --band-dark-soft: #3c3c3c;
    --band-dark-softer: #464646;
    --band-lighter: white;
}

/* colors - end */

/* commons */
.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

/* commons - end */

body {
    background-color: var(--band-darker);
    padding: 0;
    height: 100vh;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

nav {
    a {
        color: var(--band-lighter);
    }
}

.top {
    height: var(--band-top-height);
    
    nav, nav .left, nav .right {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.bottom {
    height: calc(100% - var(--band-top-height));
    display: flex;

    .left,
    .right {
        height: 100%;
    }

    .left {
        width: 70%;
        ;
        overflow-y: auto;
    }

    .right {
        width: 30%;
    }
}

.container {
    padding: 1rem;
}

input {
    outline: none;
    border: none;
}

.search-box {
    border-radius: 4px;
    font-size: 1rem;
    padding-right: 2rem;
    padding-left: 1rem;
    background-color: var(--search_box-gray);
}

.search-icon {
    color: grey;
}

.rounded {
    border-radius: 30px;
}


.card {
    width: calc(100% / 4);
}

.card-info {
    height: 30%;
}